:root {
  --yellow: yellow;
  --black: black;
  --white: white;
}

body {
  background: var(--black);
  color: var(--white);
}

h1 {
  color: var(--yellow);
  font-size: 50px;
  text-transform: uppercase;
}

h2 {
  font-size: 36px;
}

a {
  color: var(--yellow);
  text-transform: uppercase;
}